ACTION!="add", GOTO="adafruit_usb_lcd_end"
SUBSYSTEMS=="usb", KERNEL=="ttyACM*", DRIVER=="cdc_acm", GOTO="adafruit_usb_lcd_start"


LABEL="adafruit_usb_lcd_start"
ACTION=="add", ATTRS{idVendor}=="239a", ATTRS{idProduct}=="0001", MODE="660", GROUP="plugdev", SYMLINK+="usblcd"

LABEL="adafruit_usb_lcd_end"

